@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Light Mode (Default) */
:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, sans-serif;
}